runtime: python38

handlers:
    # This configures Google App Engine to serve the files in the app's
    # static directory.
     - url: /static
       static_dir: collecstatic

     - url: /.*
       script: auto

env_variables:
    INSTANCE_CONNECTION_NAME: 'squirreltracker-ns3493-np2781:us-east4:squirrel'
    PGDATABASE: 'postgres'
    PGUSER: 'postgres'
    PGPASSWORD: 'password'
    SECRET_KEY: 'secret_key'
    GS_BUCKET_NAME: 'squirreltracker-ns3493-np2781.appspot.com'
    GOOGLE_APPLICATION_CREDENTIALS: 'service-account-key.json'
