{% extends "squirrel_tracker_app/base.html" %}
{% block title %}Map{% endblock %}

{% block head %}
<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
<style>
  html,body {
    height: 100%;
  }
</style>
{% endblock %}

{% block content %}
<div id="map" class="container-fluid h-100"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Leaflet JS -->
<script>
    var map_center = [
        40.782091,  // Latitude
        -73.964285  // Longitude
    ];
    var zoom_level = 14;
    var map = L.map('map').setView(map_center, zoom_level);
    L.tileLayer('https://{server}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        server: 'a',
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    {% for coordinate in coordinates %}
        var point_lat_lon = [{{ coordinate.y }}, {{ coordinate.x }}];
        var marker = L.marker(point_lat_lon).addTo(map);
    {% endfor %}
</script>

{% endblock %}