<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2018 Central Park Squirrel Census</title>
</head>
<body>
    <div>
	<h2><a href={% url 'add' %}>Add a new sighting</a></h2>
	</div>
	<div>
    <table>
      <tr>
        <th>unique_squirrel_id</th>
        <th>date</th>
        <th>Link to Update Squirrel</th>
      </tr>
	    {% for squirrel in squirrels %}
          <tr>
            <td><a href='{% url 'squirrel_details' squirrel.unique_squirrel_id %}'>{{ squirrel.unique_squirrel_id }}</a></td>
            <td>{{ squirrel.date }}</td>
            <td><a href='{% url 'update' squirrel.unique_squirrel_id %}'>Update {{ squirrel.unique_squirrel_id }}</a></td>
          </tr>
	    {% endfor %}
    </table>
	</div>
</body>
</html>
