<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squirrel details</title>
</head>
<body>
<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    <tr>
          <td>Unique Squirrel ID</td>
          <td>{{ squirrel.unique_squirrel_id }}</td>
      </tr>
    <tr>
            <td>Geo Latitude </td>
            <td>{{ squirrel.x }}</td>
      </tr>
    <tr>
            <td>Geo Longitude </td>
            <td>{{ squirrel.y }}</td>
      </tr>
    <tr>
            <td>Park Hectare Identifier </td>
            <td>{{ squirrel.hectare }}</td>
      </tr>
    <tr>
            <td>SHIFT_CHOICES </td>
            <td>{{ squirrel.shift }}</td>
      </tr>
      <tr>
            <td>Date </td>
            <td>{{ squirrel.date }}</td>
      </tr>
    <tr>
            <td>Hectare Squirrel Number </td>
            <td>{{ squirrel.hectare_squirrel_number }}</td>
      </tr>
    <tr>
            <td>Age </td>
            <td>{{ squirrel.age }}</td>
      </tr>
    <tr>
            <td>Primary Fur Color </td>
            <td>{{ squirrel.primary_fur_color }}</td>
      </tr>
    <tr>
            <td>Highlight Fur Color </td>
            <td>{{ squirrel.highlight_fur_color }}</td>
      </tr>
    <tr>
            <td>Combination of Primary and Highlight Color </td>
            <td>{{ squirrel.combination_of_primary_and_highlight_color }}</td>
      </tr>
    <tr>
            <td>Color notes </td>
            <td>{{ squirrel.color_notes }}</td>
      </tr>
    <tr>
            <td>Location </td>
            <td>{{ squirrel.location }}</td>
      </tr>
    <tr>
            <td>Above Ground Sighter Measurement </td>
            <td>{{ squirrel.above_ground_sighter_measurement }}</td>
      </tr>
    <tr>
            <td>Specific Location </td>
            <td>{{ squirrel.specific_location }}</td>
      </tr>
    <tr>
            <td>Running </td>
            <td>{{ squirrel.running }}</td>
      </tr>
    <tr>
            <td>Chasing </td>
            <td>{{ squirrel.chasing }}</td>
      </tr>
    <tr>
            <td>Climbing </td>
            <td>{{ squirrel.climbing }}</td>
      </tr>
    <tr>
            <td>Eating </td>
            <td>{{ squirrel.eating }}</td>
      </tr>
    <tr>
            <td>Foraging </td>
            <td>{{ squirrel.foraging }}</td>
      </tr>
    <tr>
            <td>Other Activities </td>
            <td>{{ squirrel.other_activities }}</td>
      </tr>
    <tr>
            <td>Kuks </td>
            <td>{{ squirrel.kuks }}</td>
      </tr>
    <tr>
            <td>Quaas </td>
            <td>{{ squirrel.quaas }}</td>
      </tr>
    <tr>
            <td>Moans </td>
            <td>{{ squirrel.moans }}</td>
      </tr>
    <tr>
            <td>Tail flags </td>
            <td>{{ squirrel.tail_flags }}</td>
      </tr>
    <tr>
            <td>Tail twitches </td>
            <td>{{ squirrel.tail_twitches }}</td>
      </tr>
    <tr>
            <td>Approaches </td>
            <td>{{ squirrel.approaches }}</td>
      </tr>
    <tr>
            <td>Indifferent </td>
            <td>{{ squirrel.indifferent }}</td>
      </tr>
    <tr>
            <td>Runs from </td>
            <td>{{ squirrel.runs_from }}</td>
      </tr>
    <tr>
            <td>Other Interactions </td>
            <td>{{ squirrel.other_interactions }}</td>
      </tr>
    <tr>
            <td>Lat/Long </td>
            <td>{{ squirrel.lat_long }}</td>
      </tr>
    </table>
</body>