<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STATS</title>
</head>
<body>
In this data set, we have a total of {{total_squirrels}} observations.
      		<br>
<table>

      		<li>Latitiude：The minimum latitude is {{latitude.minimum}}</li>
      		<li>Latitiude：The Maximum latitude is {{latitude.maximum}}</li>
			<li>Latitiude：The average latitude is {{latitude.avg}}</li>
      		<br>
      		<li>Longitude：The minimum longitude is {{longitude.minimum}}</li>
      		<li>Longitude：The maximum longitude is {{longitude.maximum}}</li>
			<li>Longitude：The average latitude is {{longitude.avg}}</li>
			<br>
      		<li>age: {{age}}</li>
			<br>
      		<li>data dates from  {{date.minimum}} to {{date.maximum}}</li>
      		<br>
      		<li>shift: {{shift}}</li>
      		<br>
     		  <li>Running: {{running}}</li>
      		<br>
      		<li>Primary_fur_color: {{primary_fur_color}}</li></ul>
</table>
</body>
</html>